:root {
    --main-color: #2d59e2;
    --main-color-hover: #2046b9;
    /* --bs-primary: var(--main-color) !important; */

    .btn-primary {
        background-color: var(--main-color);
    }

    .btn-primary:hover {
        background-color: var(--main-color-hover);
    }
}

body {
    background-color: white;
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0px;
}

.main .header {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    padding: 10px 20px;
    background-color: var(--main-color);
    border-radius: 10px;
    margin-top: 20px;
}

.main .header .right {
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.nav-link {
    font-size: 12pt;
}

.nav-link:hover {
    color: white;
    background-color: var(--main-color-hover);
}

.nav-link.active {
    font-weight: bold;
    color: var(--main-color) !important;
}

h1.page-title {
    font-size: 46pt;
    font-weight: bold;
    color: black;
}

.footer-container {
    background-color: var(--main-color);
    margin-top: 40px;
}

.footer-content-container {
    color: white;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    padding: 80px 80px;
}

.footer-content-container ul {
    list-style: none;
    padding: 0px;
    margin: 0px;
}

.footer-content-container li.title {
    font-size: 14pt;
    font-weight: bold;
    margin-bottom: 10px;
}

.footer-content-container li:not(.title) {
    margin-top: 5px;
}

.footer-content-container a {
    color: white;
    text-decoration: none;
    font-size: 12pt;
}

.footer-content-container a:hover {
    text-decoration: underline;
}